@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,900;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(60, 23, 121, 0.9);
}

main h1{
    margin-bottom: 20px;
    margin-left: 20px;
}

main table{
    width: 50vh;
    height: 50vh;
}

main table tr td{
    width: 33%;
    height: 33%;
}

main table tr td button{
    background: rgba(255, 0, 0);
    width: 100%;
    height: 100%;
    font-size: 5rem;
    text-transform: uppercase;
}

main > button{
    background: linear-gradient(to right,rgb(18 60 169 / 90%), rgb(12 173 36 / 90%));

    width: 150px;
    height: 30px;
    border-radius: 20px;
}