<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Entre e jogue o famoso jogo da velha. Jogo da velha ou Tic Tac Toe. Otimo para passar o tempo.">
    <meta name="Autor" content="Maikon.M.C">

    <link rel="stylesheet" href="../css/index-style.css">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2911/2911080.png" type="png">

    <script src="../script/index-script.js" defer></script>

    <title>Jogo da velha</title>
</head>
<body>

    <main>
        <h1>Óla, você sabe jogar o Jogo da Velha</h1>

        <p>Vez do Jogador: <span>x</span></p>
        
        <table>
            <tr>
                <td><button></button></td>
                <td><button></button></td>
                <td><button></button></td>
            </tr>

            <tr>
                <td><button></button></td>
                <td><button></button></td>
                <td><button></button></td>
            </tr>

            <tr>
                <td><button></button></td>
                <td><button></button></td>
                <td><button></button></td>
            </tr>
        </table>

        <button>Recomeçar</button>

    </main>
    
</body>
</html>